extends ./blocks/nav.pug
block content
  link(rel="stylesheet", href="/css/admin/list-product.css")
  .app-content
    #main
      .app-title
        ul.app-breadcrumb.breadcrumb
          li.breadcrumb-item  Th&#x1ED1;ng k&ecirc;
          #time.ontime
      // <div class="row">
      .tile
        h3.tile-title Danh Sách Hàng Hóa
        a(href='/admin/product/create')
          .btn.btn-primary.add--order
            | Thêm Hàng Hóa
        div 
          span hiện tại bạn đang có #{soon_out_of_order_value} mặt hàng sắp hết hàng 
          a(href='/admin/product?type=1')
            .btn.btn-primary.add--order
              | Xem chi tiết
        div 
          span hiện tại bạn đang có #{out_of_order_value} mặt hàng đã hết hàng 
          a(href='/admin/product?type=2')
            .btn.btn-primary.add--order
              | Xem chi tiết
        table.table.table-bordered.table-hover
          thead.thead-light
            tr
           
              th(scope='col') ID
              th(scope='col') T&ecirc;n nh&agrave; s&#x1EA3;n xu&#x1EA5;t
              th(scope='col') T&ecirc;n s&#x1EA3;n ph&#x1EA9;m
              th(scope='col') Lo&#x1EA1;i s&#x1EA3;n ph&#x1EA9;m
              th(scope='col') Trạng thái
              th(scope='col') T&iacute;nh n&abreve;ng
          tbody
            each item in products
              tr            
                td #{item.id}
                td #{item.provider.name}
                td #{item.name}
                td #{item.category.name}
                if(item.status==1)
                  td Còn hàng
                if(item.status==2)
                  td Hết hàng
                td
                  span(class='btn-delete-product' data-id=`${item.id}` href=`/admin/product/delete?id=${item.id}`)
                    i(data-id=`${item.id}`).fas.fa-trash-alt.icon--delete.backgrd
                  a(href=`/admin/product/edit?id=${item.id}`)
                    i.fas.fa-edit.backgrds
      // </div>
  script(src="/js/admin/product.js") 
  

