extends ../layouts/header_footer.pug
block content
  link(rel="stylesheet", href="/css/shop/accountOrder.css")
  div
    .Account
      .Account--inner
        .Account--navbar
          .Account--navbar--items
            .items-info
              .items-info_avatar
                picture.avatar
              .items-info_content
                h6.info-content_lable T&agrave;i kho&#x1EA3;n c&#x1EE7;a
                h5.info-content_name #{user.info.name}
            .items-info-list
              ul.items-info-container
                a.info-items(href='/account')
                  .info-item
                    .item-icon
                      i.fas.fa-user-circle
                    .item-label-name Th&ocirc;ng tin t&agrave;i kho&#x1EA3;n
                a.info-items-active.info-items(href='/account/Order')
                  .info-item
                    .item-icon
                      i.far.fa-clipboard
                    .item-label-name Qu&#x1EA3;n l&yacute; &dstrok;&#x1A1;n h&agrave;ng
                a.info-items(href='#')
                  .info-item
                    .item-icon
                      i.fas.fa-map-marker-alt
                    .item-label-name Danh s&aacute;ch &dstrok;&#x1ECB;a ch&#x1EC9;
        .Account-content
          .Account-content_heading
            h5.Account-content_title Qu&#x1EA3;n l&yacute; &dstrok;&#x1A1;n h&agrave;ng
            .Account-content-btn-list
              //- .btn-wpm Ch&#x1EDD; thanh to&aacute;n
              //- .btn-wfd Ch&#x1EDD; giao h&agrave;ng
              //- .btn-done.content_btn__active &Dstrok;&atilde; ho&agrave;n th&agrave;nh
          .Order-inner
            .order-body
              .order-body-emty
                .body-emty__icon
                  span.not-have ?
                  i.fas.fa-search.emty__icon
                .body-emty-title
                  | B&#x1EA1;n kh&ocirc;ng c&oacute; &dstrok;&#x1A1;n h&agrave;ng n&agrave;o
              .order-body-has
                .order-body-inner
                  .order-body-cart
                    .order-cart-items
                      .order-cart-items_heading
                        .items_headding.order-id M&atilde; &dstrok;&#x1A1;n h&agrave;ng
                        .items_headding.order-date Ng&agrave;y mua
                        .items_headding.order-product S&#x1EA3;n ph&#x1EA9;m
                        .items_headding.order-total T&#x1ED5;ng ti&#x1EC1;n (&dstrok;)
                        .items_headding.order-status Tr&#x1EA1;ng th&aacute;i
                      if(bills[0])
                        each bill in bills
                          each Order in bill.products
                            .order-cart-items_content
                              .items_content.order-item-id #{bill.id}
                              .items_content.content-date #{bill.datestr}
                              .items_content.order-name
                                | #{Order.product.name}
                              .items_content.order-content-items
                                span.order-final-price #{Order.product.price * Order.quantity}
                              .items_content.order-content-items
                                if(bill.status==2)
                                  .order-status-items.status-succes  Đã giao hàng
                                if(bill.status==1)
                                  .order-status-items.status-cancel  Đang giao hàng
                                if(bill.status==0)
                                  .order-status-items.status-cancel  Chưa xử lý
