extends ../layouts/header_footer.pug
block content
  link(rel="stylesheet", href="/css/shop/account.css")
  .account--blur.hidden#blur_account
  .container
    .Account
      .Account--inner
        span#Account--navbar--icon.Account--navbar--icon
          i.fas.fa-align-justify
        .Account--navbar#Account--navbar
          .Account--navbar--items
            .items-info
              .items-info_avatar
                picture.avatar
              .items-info_content
                h6.info-content_lable T&agrave;i kho&#x1EA3;n c&#x1EE7;a
                h5.info-content_name #{user.info.name}
              span.close-account-navbar#close-account-navbar
                i.fas.fa-times
            .items-info-list
              ul.items-info-container
                a(href='/account')
                  .info-items-active.info-items
                    .info-item
                      .item-icon
                        i.fas.fa-user-circle
                      .item-label-name Th&ocirc;ng tin t&agrave;i kho&#x1EA3;n
                a.info-items(href='/account/Order')
                  .info-item
                    .item-icon
                      i.far.fa-clipboard
                    .item-label-name Qu&#x1EA3;n l&yacute; &dstrok;&#x1A1;n h&agrave;ng
                a.info-items(href='#')
                  .info-item
                    .item-icon
                      i.fas.fa-map-marker-alt
                    .item-label-name Danh s&aacute;ch &dstrok;&#x1ECB;a ch&#x1EC9;
        .Account-content
          .main-label Th&ocirc;ng tin t&agrave;i kho&#x1EA3;n
          .content-inner
            .content-body
              form(method='POST', action=`/account/update?id=${user.info.id}`).body-items
                .form-group.body-items-inner
                  .form-input_lable H&#x1ECD; v&agrave; t&ecirc;n
                  input.form-input_input(type='text',name='name', value=`${user.info.name||''}`)
                .body-items-inner
                  .form-input_lable Email
                  input.form-input_input(type='text',name='email', value=`${user.info.email||''}`)
                .body-items-inner
                  .form-input_lable S&#x1ED1; &dstrok;i&#x1EC7;n tho&#x1EA1;i
                  input.form-input_input(type='tel',name='number', value=`${user.info.number||''}`)
                .body-items-inner
                  .form-input_lable Địa chỉ
                  input.form-input_input(type='text',name='address', value=`${user.info.address||''}`)
                button(type="submit").form-submit Cập Nhật
              .body-items-emty
  script(src="/js/shop/account.js") 
