extends ../layouts/header_footer.pug
block content

  link(rel="stylesheet", href="/css/shop/product.css")
  .container
  .row 
    .col-3.category
      form#filter-form(action="/product", method="get")  
        .category-filter
          .category-filter-block
            .category-filter-block-name Loại sản phẩm
            .row.category-list
              .category-list-item
                  .category-list-inner
                    .column.category-list-brand-1
                      input.checkbox-item(type='radio' id='search-cateogry' name='search_cateogry' value = '' checked)
                      label(for='') Tất Cả
                      br
              each item in productCategory
                .category-list-item
                  .category-list-inner
                    .column.category-list-brand-1
                      input.checkbox-item(type='radio' id='search-cateogry' name='search_cateogry'  value=`${item.id}`)
                      label(for='') #{item.name}
                      br
          .category-filter-block
            .category-filter-block-name H&atilde;ng s&#x1EA3;n xu&#x1EA5;t
            .row.category-list
              .category-list-item
                  .category-list-inner
                    .column.category-list-brand-1
                      input.checkbox-item(type='radio' id='search-provider' name='search_provider' value = '' checked )
                      label(for='') Tất Cả
                      br
              each item in productProvider
                .category-list-item
                  .category-list-inner
                    .column.category-list-brand-1
                      input.checkbox-item(type='radio' id='search-provider' name='search_provider'  value=`${item.id}`)
                      label(for='') #{item.name}
                      br
          //- .category-filter-block
          //-   .category-filter-block-name M&#x1EE9;c gi&aacute;
          //-   .row.category-list
          //-     .category-list-item
          //-       .category-list-inner
          //-         .category-list-price-1
          //-           input.checkbox-item(type='radio')
          //-           label(for='') T&#x1EA5;t c&#x1EA3;
          //-           br
          //-           input.checkbox-item(type='radio')
          //-           label(for='') D&#x1B0;&#x1EDB;i 2 tri&#x1EC7;u
          //-           br
          //-           input.checkbox-item(type='radio')
          //-           label(for='') T&#x1EEB; 2 - 4 tri&#x1EC7;u
          //-           br
          //-           input.checkbox-item(type='radio')
          //-           label(for='') T&#x1EEB; 4 - 7 tri&#x1EC7;u
          //-           br
          //-           input.checkbox-item(type='checkbox')
          //-           label(for='') T&#x1EEB; 7 - 13 tri&#x1EC7;u
          //-           br
          //-           input.checkbox-item(type='checkbox')
          //-           label(for='') Trên 13 triệu
          //-           br
          .category-filter-block
            span.btn.btn-success#btn-fillter(type="submit") Tìm Kiếm
    .col-9
      .product-tab
        .product-tab-header-container
          .filter-tab
            span.tab-label &#x1AF;u ti&ecirc;n xem:
            .btn-sorted-group
            a(href=`/product?price=1&page=${page}${queryString}`)
              .btn-sorted Gi&aacute; th&#x1EA5;p
            a(href=`/product?price=-1&page=${page}${queryString}`)
              .btn-sorted Gi&aacute; cao

          .container-filter
            .btn-dropdown
              | B&aacute;n Ch&#x1EA1;y Nh&#x1EA5;t
              i.far.fa-caret-square-down
              .drop-list
                .drop-list-item B&aacute;n ch&#x1EA1;y nh&#x1EA5;t
                .drop-list-item Tr&#x1EA3; g&oacute;p 0%
                .drop-list-item Gi&aacute; th&#x1EA5;p
            .icon-filter
              i.fas.fa-list-ul.icon-layout
              i.fas.fa-list-ul
        .product-list-container
          each item in product
            .product-item-container
              .product-img-container
                a(href=`/product/show?id=${item.id}`)
                  img.img-border(src=`${item.img[0]}`, alt='')
              .product-item-info
                div
                  a.product-name-item(href=`/product/show?id=${item.id}`) #{item.name}
                .product-item-price-container
                  .text-price-left
                    | #{item.price}
                .product-btn
                  span.btn-buy#add-too-cart Thêm Vào Giỏ Hàng
        .more
          a(href=`/product?page=${page-1}${queryString}`)
            span.btn.btn-success Trang Trước
          span.btn #{page}
          a(href=`/product?page=${page+1}${queryString}`)
            span.btn.btn-success Trang Sau


  script(src="/js/shop/product.js" type='module') 